PopAppShops/PopAppShops.Console/Connected Services/GamersClient/players.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="https://my-game.azurewebsites.net" targetNamespace="https://my-game.azurewebsites.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="https://my-game.azurewebsites.net" xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:element name="GetCategory">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payload" type="tns:Categories" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Categories">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfig">
        <s:complexType />
      </s:element>
      <s:element name="GetConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="GetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="players">
    <wsdl:operation name="GetCategory">
      <wsdl:input message="tns:GetCategory_InputMessage" />
      <wsdl:output message="tns:GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:Create_InputMessage" />
      <wsdl:output message="tns:Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input message="tns:GetConfig_InputMessage" />
      <wsdl:output message="tns:GetConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="players" type="tns:players">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="GetCategory">
      <operation soapAction="https://my-game.azurewebsites.net/GetCategory" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <operation soapAction="https://my-game.azurewebsites.net/Create" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <operation soapAction="https://my-game.azurewebsites.net/GetConfig" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="players">
    <wsdl:port name="players" binding="tns:players">
      <address location="https://basecamp-portal-southeastasia-01.regional.azure-api.net/soap-popappshops" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>